<STYLE TYPE="text/css">
 <!--  
  BODY {font-family: Helvetica, sans-serif;
        font-size: 11pt;
        color: black;
        text-decoration: none;
        background: white;}
  P {margin-left: 10px;
     margin-right: 10px;
     font-family: Helvetica, sans-serif;
     font-size: 11pt;
     color: black;
     text-decoration: none;
     background: white;}
  UL {font-family: Helvetica, sans-serif;
      font-size: 11pt;
      color: black;
      text-decoration: none;
      background: white;}
  OL {font-family: Helvetica, sans-serif;
      font-size: 11pt;
      color: black;
      text-decoration: none;
      background: white;}
  A {font-family: Verdana, Arial, Helvetica,sans-serif;
           font-size: 11pt;
           color: black;
           text-decoration: underline;}
  a:hover {font-family: Verdana, Arial, Helvetica,sans-serif;
           font-size: 11pt;
           color: white;
           background: #017EAF;
           text-decoration: underline;}
  A:visited {font-family: Verdana, Arial, Helvetica,sans-serif;
           font-size: 11pt;
           color: #383838;
           text-decoration: underline;}
  A:active {font-family: Verdana, Arial, Helvetica,sans-serif;
           font-size: 11pt;
           color: red;
           text-decoration: underline;}
  HR {color: #017EAF;
      margin-left: 0px;}
  H1 {font-family: Verdana, Arial, Helvetica,sans-serif;
      font-size: 18pt;
      color: #017EAF;
      text-decoration: none;
      margin-top: 0px;
      margin-left: 0px;}
  H2 {font-family: Verdana, Arial, Helvetica,sans-serif;
      font-size: 14pt;
      color: #017EAF;
      text-decoration: none;
      margin-left: 0px;}
  H3 {background: #017EAF;
               font-family: Helvetica, sans-serif;
               font-size: 11pt;
               color: white;
               text-decoration: none;}
  pre {font-family: monospace;
           font-size: 10pt;
           color: black;}
  table.index {background: #017EAF;
               font-family: Helvetica, sans-serif;
               font-size: 11pt;
               color: black;
               text-decoration: none;}
  td.current {color: white;
              background: #017EAF;
               font-family: Helvetica, sans-serif;
               font-size: 11pt;
               text-decoration: none;}
  li {font-family: Helvetica, sans-serif;
        font-size: 11pt;
        color: black;
        text-decoration: none;
        background: white;}
  span.news {background: #017EAF;
               font-family: Helvetica, sans-serif;
               font-size: 11pt;
               color: white;
               text-decoration: none;}
  code {font-family: monospace;
           font-size: 10pt;
           color: black;}
  code.example {font-family: monospace;
           font-size: 10pt;
           color: black;
	   margin-left: 30px;}
 -->
</STYLE>





